backend:
  name: github
  repo: FEHRMTeam/fehrmdev
  base_url: https://federalistapp.18f.gov
  auth_endpoint: external/auth/github
  branch: main
  preview_context: federalist/build

media_folder: static/images
public_folder: images
publish_mode: editorial_workflow
logo_url: https://federalist.18f.gov/assets/images/federalist-logo.png

collections:
  - name: pages
    label: Pages
    label_singular: Pages
    folder: src/content-pages
    create: true
    preview_path: '{{slug}}'
    editor:
      preview: false
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Sidenav', name: 'sidenav', widget: 'boolean' }
      - { label: 'Parent', name: 'parent', widget: 'string', hint: 'Enter parent page name. Used to display the appropriate side navigation' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
  
  - label: List Pages
    name: listPages
    extension: md
    editor:
      preview: false
    files:
      - label: Congressional Reports
        name: congressionalReports
        file: src/list-pages/congressional-reports.md
        fields:
          - { label: 'Title', name: 'title', widget: 'string' }
          - { label: 'Sidenav', name: 'sidenav', widget: 'boolean' }
          - { label: 'Parent', name: 'parent', widget: 'string', hint: 'Enter parent page name. Used to display the appropriate side navigation' }
          - { label: 'Body', name: 'body', widget: 'markdown' }
          - label: "Report Items"
            name: "reportItems"
            allow_add: true
            add_to_top: true
            widget: "list"
            summary: '{{fields.label}}'
            fields: 
              - { label: 'Label', name: 'label', widget: 'string' }
              - label: 'File URL'
                name: 'fileUrl'
                widget: 'file'
                hint: 'To upload files, click the "Choose a file" / "Choose different file" button.'
                media_library:
                  config:
                    multiple: false
      - label: In the News
        name: inTheNews
        file: src/list-pages/in-the-news.md
        fields:
          - { label: 'Title', name: 'title', widget: 'string' }
          - { label: 'Sidenav', name: 'sidenav', widget: 'boolean' }
          - { label: 'Parent', name: 'parent', widget: 'string', hint: 'Enter parent page name. Used to display the appropriate side navigation' }
          - { label: 'Body', name: 'body', widget: 'markdown' }
          - label: News Items
            name: "newsItems"
            allow_add: true
            add_to_top: true
            widget: "list"
            summary: '{{fields.publicationDate}} - {{fields.publisher}} - {{fields.label}}'
            fields:
              - { label: 'Label', name: 'label', widget: 'string', required: true }
              - { label: 'Link URL', name: 'linkUrl', widget: 'string', required: true }
              - { label: 'Publisher', name: 'publisher', widget: 'string', required: true }
              - { label: 'Publication Date', name: 'publicationDate', widget: 'date', hint: 'Format: MM/DD/YYYY', default: '', format: 'MMMM D, YYYY', required: true }

  - name: home
    label: Homepage
    files:
      - name: homepage
        label: Homepage Content
        file: /src/homepage/index.md
        editor:
          preview: false
        fields:
          - { label: 'Template Key', name: 'templateKey', widget: 'hidden', default: 'home-page' }
          - { label: 'Header Title', name: 'headerTitle', required: true, widget: 'string' }
          - { 
              label: 'Hero Image',
              name: 'heroImage',
              widget: 'object',
              fields: [
                { label: 'Image', name: 'image', widget: 'image' },
                { label: 'Image Description', name: 'imageAlt', widget: 'string' },
              ],
            }
          - {
              label: 'Hero Callout',
              name: 'heroCallout',
              widget: 'object',
              fields: [
                { label: 'Callout Header Text', name: 'calloutHeaderText', widget: 'string' },
                { label: 'Callout Support Text', name: 'calloutSupportText', widget: 'string' },
                { label: 'Hero Call To Action Button Text', name: 'callToActionBtnText', widget: 'string' },
                { label: 'Hero Call To Action Button URL', name: 'callToActionUrl', widget: 'string' },
              ],
            }
          - {
              label: 'Tagline',
              name: 'tagline',
              widget: 'object',
              fields: [
                { label: 'Tagline Heading Text', name: 'taglineHeadingText', widget: 'string' },
                { label: 'Tagline Description', name: 'taglineDescription', widget: 'string' },
                { label: 'Sidebar Callout Header Text', name: 'calloutHeaderText', widget: 'string' },
                { label: 'Sidebar Callout Support Text', name: 'calloutSupportText', widget: 'string' },
                { label: 'Sidebar Call To Action Button Text', name: 'callToActionBtnText', widget: 'string' },
                { label: 'Sidebar Call To Action Button URL', name: 'callToActionUrl', widget: 'string' },
                { label: 'Sidebar Callout Note Text', name: 'calloutNoteText', widget: 'string' },
              ],
          }
          - {
              label: 'Call To Actions',
              name: 'callToActions',
              required: true,
              widget: 'object',
              fields: [
                {
                  label: 'Top Left CTA',
                  name: 'topLeftCTA',
                  required: true,
                  widget: 'object',
                  fields: [
                    { label: 'Heading', name: 'heading', widget: 'string' },
                    { label: 'Sub Heading', name: 'subHeading', widget: 'string' },
                    { 
                      label: 'CTA Image',
                      name: 'CTAImage',
                      widget: 'object',
                      fields: [
                        { label: 'Image', name: 'image', widget: 'image' },
                        { label: 'Image Description', name: 'imageAlt', widget: 'string' }
                      ],
                    },
                  ],
                },
                {
                  label: 'Top Right CTA',
                  name: 'topRightCTA',
                  required: true,
                  widget: 'object',
                  fields: [
                    { label: 'Heading', name: 'heading', widget: 'string' },
                    { label: 'Sub Heading', name: 'subHeading', widget: 'string' },
                    { 
                      label: 'CTA Image',
                      name: 'CTAImage',
                      widget: 'object',
                      fields: [
                        { label: 'Image', name: 'image', widget: 'image' },
                        { label: 'Image Description', name: 'imageAlt', widget: 'string' }
                      ],
                    },
                  ],
                },
                {
                  label: 'Bottom Left CTA',
                  name: 'bottomLeftCTA',
                  required: true,
                  widget: 'object',
                  fields: [
                    { label: 'Heading', name: 'heading', widget: 'string' },
                    { label: 'Sub Heading', name: 'subHeading', widget: 'string' },
                    { 
                      label: 'CTA Image',
                      name: 'CTAImage',
                      widget: 'object',
                      fields: [
                        { label: 'Image', name: 'image', widget: 'image' },
                        { label: 'Image Description', name: 'imageAlt', widget: 'string' },
                      ],
                    },
                  ],
                },
                {
                  label: 'Bottom Right CTA',
                  name: 'bottomRightCTA',
                  required: true,
                  widget: 'object',
                  fields: [
                    { label: 'Heading', name: 'heading', widget: 'string' },
                    { label: 'Sub Heading', name: 'subHeading', widget: 'string' },
                    { 
                      label: 'CTA Image',
                      name: 'CTAImage',
                      widget: 'object',
                      fields: [
                        { label: 'Image', name: 'image', widget: 'image' },
                        { label: 'Image Description', name: 'imageAlt', widget: 'string' },
                      ],
                    },
                  ],
                }
              ],
          }

  - name: navbarAndFooter
    label: Navbar & Footer
    files:
      - file: src/content-components/navbar.md
        label: Navbar
        name: navbar
        editor:
          preview: false
        fields:
          - {
              label: Menu Items,
              name: navMenuItems,
              allow_add: true,
              widget: list,
              fields: [
                { label: 'Label', name: 'label', widget: 'string' },
                { label: 'Link Type', name: 'linkType', widget: 'select', options: ['internal', 'external'] },
                { label: 'Link URL', name: 'linkUrl', widget: 'string', hint: 'User a relative URL (e.g. /about) if the link is an internal link.' },
                { label: 'Open in new tab?', name: 'newTab', widget: 'boolean'},
                {
                  label: 'Submenu Items',
                  name: 'subMenuItems',
                  allow_add: true,
                  widget: 'list',
                  fields: [
                    { label: 'Label', name: 'label', widget: 'string' },
                    { label: 'Link Type', name: 'linkType', widget: 'select', options: ['internal', 'external'] },
                    { label: 'Link URL', name: 'linkUrl', widget: 'string', hint: 'User a relative URL (e.g. /about) if the link is an internal link.' },
                    { label: 'Open in new tab?', name: 'newTab', widget: 'boolean'},
                  ],
                },
              ],
            }
      - name: footer
        label: Footer
        file: src/content-components/footer.md
        editor:
          preview: false
        fields:
          - { label: 'Template Key', name: 'templateKey', widget: 'hidden', default: 'footer' }
          - {
              label: 'Footer Image',
              name: 'footerImage',
              widget: 'object',
              fields: [
                { label: 'Image', name: 'image', widget: 'image' },
                { label: 'Image Description', name: 'imageAlt', widget: 'string'},
              ],
            }
          - {
              label: 'Footer Link',
              name: 'footerLink1',
              widget: 'object',
              fields: [
                { label: 'Label', name: 'label', widget: 'string' },
                { label: 'Link URL', name: 'linkUrl', widget: 'string' },
                { label: 'Link Type', name: 'linkType', widget: 'select', options: ['internal', 'external'] },
                { label: 'Open in new tab?', name: 'newTab', widget: 'boolean', hint: 'Internal links cannot open in a new tab. Setting the Link Type to internal will override this setting'}
              ],
            }
          - {
              label: 'Footer Link',
              name: 'footerLink2',
              widget: 'object',
              fields: [
                { label: 'Label', name: 'label', widget: 'string' },
                { label: 'Link URL', name: 'linkUrl', widget: 'string' },
                { label: 'Link Type', name: 'linkType', widget: 'select', options: ['internal', 'external'] },
                { label: 'Open in new tab?', name: 'newTab', widget: 'boolean', hint: 'Internal links cannot open in a new tab. Setting the Link Type to internal will override this setting'}
              ],
            }
          - {
              label: 'Footer Link',
              name: 'footerLink3',
              widget: 'object',
              fields: [
                { label: 'Label', name: 'label', widget: 'string' },
                { label: 'Link URL', name: 'linkUrl', widget: 'string' },
                { label: 'Link Type', name: 'linkType', widget: 'select', options: ['internal', 'external'] },
                { label: 'Open in new tab?', name: 'newTab', widget: 'boolean', hint: 'Internal links cannot open in a new tab. Setting the Link Type to internal will override this setting'}
              ],
            }
          - {
              label: 'Footer Link',
              name: 'footerLink4',
              widget: 'object',
              fields: [
                { label: 'Label', name: 'label', widget: 'string' },
                { label: 'Link URL', name: 'linkUrl', widget: 'string' },
                { label: 'Link Type', name: 'linkType', widget: 'select', options: ['internal', 'external'] },
                { label: 'Open in new tab?', name: 'newTab', widget: 'boolean', hint: 'Internal links cannot open in a new tab. Setting the Link Type to internal will override this setting'}
              ],
            }
          - {
              label: 'Footer Link',
              name: 'footerLink5',
              widget: 'object',
              fields: [
                { label: 'Label', name: 'label', widget: 'string' },
                { label: 'Link URL', name: 'linkUrl', widget: 'string' },
                { label: 'Link Type', name: 'linkType', widget: 'select', options: ['internal', 'external'] },
                { label: 'Open in new tab?', name: 'newTab', widget: 'boolean', hint: 'Internal links cannot open in a new tab. Setting the Link Type to internal will override this setting'}
              ],
            }
          - {
              label: 'Footer Link',
              name: 'footerLink6',
              widget: 'object',
              fields: [
                { label: 'Label', name: 'label', widget: 'string' },
                { label: 'Link URL', name: 'linkUrl', widget: 'string' },
                { label: 'Link Type', name: 'linkType', widget: 'select', options: ['internal', 'external'] },
                { label: 'Open in new tab?', name: 'newTab', widget: 'boolean', hint: 'Internal links cannot open in a new tab. Setting the Link Type to internal will override this setting'}
              ],
            }